
li.repo {
  cursor: pointer;
}

img.icon {
  margin: 2px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

#cart
{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  width: 200px;
  min-height: 100px;
  height: auto;
  background: white;
  border: solid thin black;
}

.cart-title
{
  text-align: center;
}

img.custom-icon
{
  margin-left: 3px;
  width: 16px;
  height: 16px;
  cursor: crosshair;
}

#custom-icons
{
  margin-left:22px;
  margin-top:10px;
  width: 156px;
}

#choose-wrapper
{
  padding: 1em 0 1em 0;
  position: relative;
  background: #f7f7f7 url('images/bg02.png');
}

